.select__input{
    --tw-ring-shadow: none !important;
}

.css-g1d714-ValueContainer,
.css-319lph-ValueContainer{
    padding: 4px 8px !important;
}

.css-1s2u09g-control{
    border-radius: 0.375rem !important;
}